@import  "./../App/_vars.scss";

.cart-header {
  display: grid;
  // grid-template-columns: 2fr 3fr 3fr 3fr 1fr;
  grid-template-columns: 2fr repeat(3, 3fr) 1fr;
  column-gap: 30px;
  padding: 22px 0;
  background-color: #eaeff2;
  font-weight: 700;
  font-size: 13px;
  // line-height: 120%;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    height: 1px;
    padding: 0;
    // скрываем весь текст в шапке 2 способа
    // font-size: 0;
    // выбрать данный селектор cart-header и после него выбрать все элементы первого уровня вложенности и скахать им display: none;
    & > * {
      display: none;
    }
  }
}

.cart-header__title {
  grid-column-start: 2;
}
